.left h2{
    color: rgb(243, 126, 0);
    font-weight: 600;
    padding-bottom: 10px;
    /* font-size; */
}
@media only screen and (min-width: 768px) {

.left{
    margin-left: 55vw;
    width: 40vw;
}
}

.left{

    background-color: rgba(0,250,250,0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 2vw;
}
.gap{
    padding: 3vh;
}

.bo1{
    background-image: url('https://www.sriveluenterprises.com/cnc.jpg');
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.bo2{
    background-image: url('https://www.sriveluenterprises.com/posts/images20.jpeg');
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.bo3{
    background-image: url('https://www.sriveluenterprises.com/machine.webp');
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}